version: '3.6'

networks:
  controlcomponents:
    name: basys-controlcomponents
    internal: false
  communication:
    name: basys-communication
    external: true
  aas:
    name: basys-aas
    external: true
  proxy:
    name: basys-proxy
    external: true

services:    

  mir100_1:
    image: dfkibasys/controlcomponent-mir:0.5.2-SNAPSHOT
    container_name: mir100_1
    volumes:
      - ./config/03_mir100_1.yml:/workspace/config/application-cc.yml
      - ./config/03_cc-docker_env.yml:/workspace/config/application-docker.yml
      #- ./data/opcua-server-certs:/workspace/certs
    restart: always
    ports:
      - "8201:8088"
      - "12685:12685"
    environment:
      EXTERNAL_HOSTNAME: ${EXTERNAL_HOSTNAME}
      EXTERNAL_PORT: 8201
      SPRING_PROFILES_ACTIVE: cc,docker
    labels:
      logging: "promtail"
      logging_jobname: "containerlogs"
    networks:
       - controlcomponents
       - communication
       - aas
       - proxy

  mir100_2:
    image: dfkibasys/controlcomponent-mir:${VERSION}
    container_name: mir100_2
    volumes:
      - ./config/03_mir100_2.yml:/workspace/config/application-cc.yml
      - ./config/03_cc-docker_env.yml:/workspace/config/application-docker.yml
      #- ./data/opcua-server-certs:/workspace/certs
    restart: always
    ports:
      - "8204:8088"
      - "12688:12688"
    environment:
      EXTERNAL_HOSTNAME: ${EXTERNAL_HOSTNAME}
      EXTERNAL_PORT: 8204
      SPRING_PROFILES_ACTIVE: cc,docker
    labels:
      logging: "promtail"
      logging_jobname: "containerlogs"
    networks:
       - controlcomponents
       - communication
       - aas
       - proxy

  mir100_3:
    image: dfkibasys/controlcomponent-mir:${VERSION}
    container_name: mir100_3
    volumes:
      - ./config/03_mir100_3.yml:/workspace/config/application-cc.yml
      - ./config/03_cc-docker_env.yml:/workspace/config/application-docker.yml
      #- ./data/opcua-server-certs:/workspace/certs
    restart: always
    ports:
      - "8207:8088"
      - "12691:12691"
    environment:
      EXTERNAL_HOSTNAME: ${EXTERNAL_HOSTNAME}
      EXTERNAL_PORT: 8207
      SPRING_PROFILES_ACTIVE: cc,docker
    labels:
      logging: "promtail"
      logging_jobname: "containerlogs"
    networks:
       - controlcomponents
       - communication
       - aas
       - proxy
   
  ur10_1:
    image: dfkibasys/controlcomponent-ur:${VERSION}
    container_name: ur10_1
    volumes:
      - ./config/03_ur10_1.yml:/workspace/config/application-cc.yml
      - ./config/03_cc-docker_env.yml:/workspace/config/application-docker.yml
      #- ./data/opcua-server-certs:/workspace/certs
    restart: always
    ports:
      - "8202:8088"
      - "12686:12686"
    environment:
      EXTERNAL_HOSTNAME: ${EXTERNAL_HOSTNAME}
      EXTERNAL_PORT: 8202
      SPRING_PROFILES_ACTIVE: cc,docker
    labels:
      logging: "promtail"
      logging_jobname: "containerlogs"
    networks:
       - controlcomponents
       - communication
       - aas
       - proxy
   
  drone_1:
    image: dfkibasys/controlcomponent-drone:${VERSION}
    container_name: drone_1
    volumes:
      - ./config/03_drone_1.yml:/workspace/config/application-cc.yml
      - ./config/03_cc-docker_env.yml:/workspace/config/application-docker.yml
      #- ./data/opcua-server-certs:/workspace/certs
    restart: always
    ports:
      - "8203:8088"
      - "12687:12687"
    environment:
      EXTERNAL_HOSTNAME: ${EXTERNAL_HOSTNAME}
      EXTERNAL_PORT: 8203
      SPRING_PROFILES_ACTIVE: cc,docker
    labels:
      logging: "promtail"
      logging_jobname: "containerlogs"
    networks:
       - controlcomponents
       - communication
       - aas
       - proxy

  assembly_work_station_1_hl:
    image: dfkibasys/controlcomponent-workstation:latest
    container_name: assembly_work_station_1_hl
    volumes:
      - ./config/03_assembly_work_station_1_hl.yml:/workspace/config/application-cc.yml
      - ./config/03_cc-docker_env.yml:/workspace/config/application-docker.yml
      #- ./data/opcua-server-certs:/workspace/certs
    restart: always
    ports:
      - "8205:8088"
      - "12689:12689"
    environment:
      EXTERNAL_HOSTNAME: ${EXTERNAL_HOSTNAME}
      EXTERNAL_PORT: 8205
      SPRING_PROFILES_ACTIVE: cc,docker
    labels:
      logging: "promtail"
      logging_jobname: "containerlogs"
    networks:
       - controlcomponents
       - communication
       - aas
       - proxy

  assembly_work_station_1_ll:
    image: dfkibasys/controlcomponent-workstation:latest
    container_name: assembly_work_station_1_ll
    volumes:
      - ./config/03_assembly_work_station_1_ll.yml:/workspace/config/application-cc.yml
      - ./config/03_cc-docker_env.yml:/workspace/config/application-docker.yml
      #- ./data/opcua-server-certs:/workspace/certs
    restart: always
    ports:
      - "8206:8088"
      - "12690:12690"
    environment:
      EXTERNAL_HOSTNAME: ${EXTERNAL_HOSTNAME}
      EXTERNAL_PORT: 8206
      SPRING_PROFILES_ACTIVE: cc,docker
    labels:
      logging: "promtail"
      logging_jobname: "containerlogs"
    networks:
       - controlcomponents
       - communication
       - aas
       - proxy

